@import "https://fonts.googleapis.com/css?family=Baloo+Chettan|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap";
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #50c6d8;
}

.headline {
  position: relative;
  height: 700px;
  font-family: 'Ubuntu';
  color: #fff;
  text-align: center;
  /* background: url("https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_b.jpg") no-repeat center center;
  background-size: cover; */
}

.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(29, 116, 130);
}

.heading {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  font-size: 26px;
  font-family: 'Ubuntu', 'Kelly slab';
  color: white;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
  animation: fade-in 0.75s 0.25s ease-in forwards;
}

.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}

.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

nav.scrolled {
  background: rgba(80, 198, 216, 0.9);
}

nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}

nav li {
  float: left;
}

nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}

nav a:hover {
  color: #ededed;
}

main {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 85%;
  font-size: 1rem;
  line-height: 1.5em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidenav {
  height: 100vh;
  max-height: 100vh;
  width: 0;
  position: fixed;
  overflow: hidden;
  z-index: 11;
  top: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-image: linear-gradient(to bottom, #50c6d8 20%, #202020);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 95px;
}

.summaryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.sideMenuHeading {
  margin-bottom: 50px;
  padding-left: 10px;
  color: white;
  font-size: 1.4rem;
}

.settingsOption {
  margin-right: 30px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95px;
  cursor: pointer;
  font-family: 'Ubuntu';
  transition: all .2s ease-in-out;
  outline: none;
}

.settingsactive {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.settingsOption:hover {
  text-shadow: 2px 2px 2px rgba(0,0,0,.9);
  /* transform: scale(1.2); */
}

.settingsContainer {
  position: fixed;
  top: 50px;
  right: 30px;
  width: 250px;
  padding: 20px;
  background: white;
  border-radius: 8px 0 8px 8px;
  border: 1px solid #50c6d8;
  opacity: 0;
  transition: all .5s ease-in-out;
  z-index: 999;
}

.settingsContainerActive {
  opacity: 1;
  box-shadow: 2px 4px 4px rgba(0,0,0,.4)
}

.setting {
  color: #555;
  font-size: 0.8rem;
  padding: 10px 0 15px 0;
  font-weight: bold;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting:last-child {
  border-bottom: none;
}


.cbx {
  position: absolute;
  margin: -12px -20px;
  border: 2px solid #e8e8eb;
  background: #e8e8eb;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}
.cbx:hover {
  border-color: #50c6d8;
}
.flip {
  display: block;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  position: relative;
  width: 20px;
  height: 20px;
}
#cbxGraphs,
#cbxFailingOnly,
#cbxSuiteLocation {
  display: none;
}
#cbxGraphs:checked + .cbx,
#cbxFailingOnly:checked + .cbx, 
#cbxSuiteLocation:checked + .cbx {
  border-color: #50c6d8;
}
#cbxGraphs:checked + .cbx .flip,
#cbxFailingOnly:checked + .cbx .flip,
#cbxSuiteLocation:checked + .cbx .flip {
  transform: rotateY(180deg);
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.front {
  background: #fff;
  z-index: 1;
}
.back {
  transform: rotateY(180deg);
  background: #50c6d8;
  text-align: center;
  color: #fff;
  line-height: 20px;
  box-shadow: 0 0 0 1px #50c6d8;
}
.back svg {
  margin-top: 3px;
  fill: none;
}
.back svg path {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
